<div id="home"> 
	<h1 class="moovle"><a href="/"> MOOVLE</a></h1>
	<div class="form">
		<form action="/search" method="get">
			<input type="text" name="q" placeholder="Search for movie title" class="search_box"/>
			<button class="btn">Search</button>
		</form>
	</div>
</div>